.claim-controls {
  margin-top: 1em; }

.claims-type-selector {
  overflow: hidden;
  margin: 0;
  width: 40em; }
  .claims-type-selector li {
    float: left;
    margin-top: 5px; }
    .claims-type-selector li label {
      cursor: pointer;
      padding: 10px 10px 10px 0; }

.sort-bar {
  margin: 1em 0; }

#assing-count {
  width: 100px; }

.action-buttons a, .action-buttons select {
  display: inline-block;
  margin-right: 0.4em; }

.allocation-summary {
  margin-top: 3em; }

.select-all-button {
  width: 6em; }

.action-buttons select {
  border: 1px solid #ededed;
  padding: 0.4em;
  width: 13em;
  height: 3em; }

.claim-list-table {
  width: 700px; }
  .claim-list-table tbody td:first-child, .claim-list-table tbody td:nth-child(2) {
    cursor: pointer; }
    .claim-list-table tbody td:first-child label, .claim-list-table tbody td:first-child input, .claim-list-table tbody td:nth-child(2) label, .claim-list-table tbody td:nth-child(2) input {
      cursor: pointer; }

.select-all-cell {
  width: 6.6em; }
