.claim-controls {
  margin-top: 1em;
}

.claims-type-selector {
  overflow: hidden;
  margin: 0;
  width: 40em;

  li {
    float: left;
    margin-top: 5px;

    label {
      cursor: pointer;
      padding: 10px 10px 10px 0;
    }
  }
}

.sort-bar {
  margin: 1em 0;
}

#assing-count {
  width: 100px;
}

.action-buttons {
  a, select {
    display: inline-block;
    margin-right: 0.4em;
  }
}

.allocation-summary {
  margin: 3em 0;
}

.select-all-button {
  width: 6em;
}

.action-buttons {
  select {
    border: 1px solid #ededed;
    padding: 0.4em;
    width: 13em;
    height: 3em;
  }
}

.claim-list-table {
  width: 700px;

  tbody {
    tr {
      cursor: pointer;
    }

    td:first-child, td:nth-child(2) {
      cursor: pointer;

      label, input {
        cursor: pointer;
      }
    }
  }
}

.select-all-cell {
  width: 6.6em;
}
